<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.futuo.iapprove"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.richitec.commontoolkit.CTApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".IApproveAppLaunchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppLaunchTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".account.AccountSetting4FirstActivity"
            android:label="@string/title_activity_account_setting_for_first"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".account.AccountRegisterActivity"
            android:label="@string/title_activity_account_register"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".account.AccountLoginActivity"
            android:label="@string/title_activity_account_login"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".account.AccountRetrievePwdActivity"
            android:label="@string/title_activity_account_retrieve_pwd"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".tab7tabcontent.IApproveTabActivity"
            android:label="@string/title_activity_iapprove_tab"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".tab7tabcontent.newapproveapplication.form.EnterpriseFormTypeListActivity"
            android:label="@string/title_activity_enterprise_form_type_list"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".tab7tabcontent.newapproveapplication.form.EnterpriseFormListActivity"
            android:label="@string/title_activity_enterprise_form_list"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".tab7tabcontent.newapproveapplication.NewApproveApplicationActivity"
            android:label="@string/title_activity_new_approve_application"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnchanged|adjustResize" >
        </activity>
        <activity
            android:name=".tab7tabcontent.newapproveapplication.NAAFormItemEditorActivity"
            android:label="@string/title_activity_naa_form_item_editor"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".tab7tabcontent.TodoListTabContentActivity"
            android:label="@string/title_activity_todo_list_tab_content"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".tab7tabcontent.task.TodoTaskDetailInfoActivity"
            android:label="@string/title_activity_todo_task_detail_info"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".tab7tabcontent.AddressbookTabContentActivity"
            android:label="@string/title_activity_addressbook_tab_content"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".tab7tabcontent.addressbook.ABContactDetailInfoActivity"
            android:label="@string/title_activity_abcontact_detail_info"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".tab7tabcontent.HistoryRecordTabContentActivity"
            android:label="@string/title_activity_history_record_tab_content"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".tab7tabcontent.task.HistoryRecordTaskDetailInfoActivity"
            android:label="@string/title_activity_history_record_task_detail_info"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".tab7tabcontent.SettingsTabContentActivity"
            android:label="@string/title_activity_settings_tab_content"
            android:screenOrientation="portrait" >
        </activity>

        <service android:name=".service.CoreService" />

        <provider
            android:name=".provider.UserEnterpriseProfileContentProvider"
            android:authorities="com.futuo.iapprove.provider.UserEnterpriseProfileContentProvider"
            android:exported="false" />
        <provider
            android:name=".provider.EnterpriseTodoTaskContentProvider"
            android:authorities="com.futuo.iapprove.provider.EnterpriseTodoTaskContentProvider"
            android:exported="false" />
        <provider
            android:name=".provider.EnterpriseABContentProvider"
            android:authorities="com.futuo.iapprove.provider.EnterpriseABContentProvider"
            android:exported="false" />
        <provider
            android:name=".provider.EnterpriseFormContentProvider"
            android:authorities="com.futuo.iapprove.provider.EnterpriseFormContentProvider"
            android:exported="false" />
    </application>

</manifest>