<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.futuo.iapprove"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.richitec.commontoolkit.CTApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".IApproveAppLaunchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppLaunchTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".account.AccountSetting4FirstActivity"
            android:label="@string/title_activity_account_setting_for_first"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".account.AccountRegisterActivity"
            android:label="@string/title_activity_account_register"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".account.AccountLoginActivity"
            android:label="@string/title_activity_account_retrieve_pwd"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".account.AccountRetrievePwdActivity"
            android:label="@string/title_activity_account_login"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".tab7tabcontent.IApproveTabActivity"
            android:label="@string/title_activity_iapprove_tab"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".tab7tabcontent.TodoListTabContentActivity"
            android:label="@string/title_activity_todo_list_tab_content"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".tab7tabcontent.AddressbookTabContentActivity"
            android:label="@string/title_activity_addressbook_tab_content"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".tab7tabcontent.HistoryRecordTabContentActivity"
            android:label="@string/title_activity_history_record_tab_content"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".tab7tabcontent.SettingsTabContentActivity"
            android:label="@string/title_activity_settings_tab_content"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>